body {
  position: relative;
  min-width: 850px;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #061B28;
  background: #FCFCFC;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

@font-face {
  font-family: Oswald;
  src: url(fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}
.visually-hidden {
  display: none;
}

ul {
 padding: 0px;
 margin: 0px;
 list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 0.5;
  transition: all 0.1s linear;
}

header {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  height: 650px;
  padding-top: 40px;

  margin-bottom: 140px;
  color: #FCFCFC;
  line-height: 36px;
  background: #FCFCFC url("img/header.jpg") no-repeat 0 0;
  font-size: 16px;
 }



header .logo {
  display: inline-block;
  margin: 0 98px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.header-nav-list {
  display: inline-block;
  margin-right: auto;
}
.header-nav-list li {
  display: inline-block;
  margin-right: 30px;
}

header .bt {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  width: 35px;
  height: 35px;
  border: 0px solid white;
  border-radius: 50%;
}
header .search {
margin: 0 15px;
  background: rgba(252, 252, 252, 0.4) url("img/src.svg") no-repeat 50% 50%;
}
header .login {
  margin-left: 15px;
  background: rgba(252, 252, 252, 0.4) url("img/log.svg") no-repeat 50% 50%;
}

header nav {
  display: flex;
  align-items: flex-start;
  margin-right: auto;
  flex-grow: 1;
}
header div {
  height: 36px;
  margin-right: 98px;
}
header .nav-phone {
  min-width: 130px;
  margin-left: auto;
  margin-right: 35px;
  word-wrap: normal;
}



h1 {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FCFCFC;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 98px;
  text-align: center;
  line-height: 145px;
}
 .bottom {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45px;
  width: 170px;
  color: #FCFCFC;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  border: 2px solid #FCFCFC;
  font-weight: 500;
  font-size: 16px;
  line-height: 45px;
}
main >  .bottom {
  top: 400px;

}


.climbing-tours {
  position: relative;
  margin-left: 98px;
  margin-bottom: 140px;
  background: #FCFCFC url("img/map.png") no-repeat 425px 150px;
  overflow: hidden;
}
.climbing-tours h2 {
  width: 480px;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
}
.climbing-tours p {
  width: 350px;
}
.climbing-tours li {
  position: absolute;
  font-size: 14px;
  line-height: 150%;
}
.climbing-tours li:hover {
  transition: all 0.1s linear;
  cursor: pointer;
  transform: translateX(5px) scale(1.1);
}
.map-points-list {
  list-style-image: url("img/p.svg");
}
.climbing-tours li:first-child {
top: 172px;
left: 475px;
}
.climbing-tours li:nth-child(2) {
top: 286px;
left: 525px;
}
.climbing-tours li:nth-child(3) {
top: 356px;
left: 582px;
}
.climbing-tours li:nth-child(4) {
top: 456px;
left: 615px;
}
.climbing-tours li:nth-child(5) {
top: 215px;
left: 787px;
}
.climbing-tours li:nth-child(6) {
top: 226px;
left: 891px;
}
.climbing-tours li:nth-child(7) {
top: 356px;
left: 882px;
}
.climbing-tours li:last-child {
top: 283px;
left: 1015px;
}

/*----------------------------------------------------------- */


.popular-tours {
  position: relative;
  min-height: 530px;
  margin: 0 80px 130px;
}
.popular-tours h2 {
  margin: 0 auto 80px;;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
  color: #061B28;
}
.tours-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-bottom: 65px;
}
.tours-list li {
  position: relative;
  height: 326px;
  width: 370px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 115%;
  margin-bottom: 20px;
}
.tours-list li:hover {
  transform: scale(1.05);
  transition: all 0.2s linear;
}
.tours-list li:first-child {
  background-image:
  linear-gradient(180deg, rgba(249, 249, 250, 0) 0%, rgba(249, 249, 250, 0.9) 100%),
   url("img/beluha.jpg");
}
.tours-list li:nth-child(2) {
  background:
  linear-gradient(180deg, rgba(249, 249, 250, 0) 0%, rgba(249, 249, 250, 0.9) 100%),
   url("img/elbrus.jpg");
}
.tours-list li:last-child {
  background:
  linear-gradient(180deg, rgba(249, 249, 250, 0) 0%, rgba(249, 249, 250, 0.9) 100%),
   url("img/kiliman.jpg");
}

.tours-list li h3 {
  margin-left: 40px;
  margin-bottom: 20px;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 26px;
  line-height: 115%;
}
.tours-list li p {
  margin-left: 40px;
}
.tours-list li p:first-of-type {
  margin-bottom: 120px;
  font-size: 16px;
  line-height: 115%;
  padding-top: 20px;
}
.tours-list li p:first-of-type::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 18px;
  background-image: url("img/p.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tours-list li p span:not(:last-of-type)::after {
  content: "|";
  display: inline-block;
  text-align: center;
  transform: translateX(2px);
  width: 18px;
}

.popular-tours .tours-list li p:last-of-type::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 14px;
  background-image: url("img/cir1.svg");
}
.popular-tours .tours-list li:last-of-type p:last-of-type::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 14px;
  background-image: url("img/cir2.svg");
}













.tours-list li button {
  position: absolute;
  top: 40px;
  right: 40px;
  height: 35px;
  width: 35px;
  border: 0px solid white;
  border-radius: 50%;
  background: rgba(252, 252, 252, 0.4) url("img/box.svg") no-repeat 50% 50%;

}

.tours-list li .added {
  position: absolute;
  top: 40px;
  right: 40px;
  height: 35px;
  width: 35px;
  border: 0px solid white;
  border-radius: 50%;
  background: rgba(252, 252, 252, 0.4) url("img/added.svg") no-repeat 50% 50%;
}











/* ----------------------------- */

.popular-tours .next-prev {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  margin-right: 15px;
}
.popular-tours .next-prev button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #E6E8EA;
}
.popular-tours .next-prev button:first-child {
  background: #E6E8EA url("img/prv.svg") no-repeat 50% 50%;
}
.popular-tours .next-prev button:last-child {
  background: #E6E8EA url("img/nxt.svg") no-repeat 50% 50%;
  margin-left: 25px;
}
.popular-tours .next-prev button:hover {
  background-color: #D3D3D3;
  border: 1px solid #C3C3C3;
  transition: all 0.1s linear;
  cursor: pointer;
}



.blog {
  color: #061B28;
  margin-bottom: 120px;
}
.blog h2 {
  margin: 0;
  margin-bottom: 70px;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
}
.blog > div > a {
  display: block;
  width: 400px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
  background: #EC5118;
  color: #FCFCFC;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
}
.blog > div > a:hover {
  opacity: 0.7;
  transition: all 0.1s linear;
}

.blog > div {
  float: left;
  vertical-align: top;
  width: 400px;
  margin-left: 97px;
  margin-right: 70px;
}
.blog .blog-nav-item time {
  display: inline-block;
  color: #7E8386;
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 140%;
}
.blog .blog-nav-item p {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
  font-size: 18px;
  line-height: 140%;
}

.blog .blog-nav-item-active {
  width: auto;
  height: 128px;
  background: #061B28;
  color: #FCFCFC;
}
.blog .blog-nav-item {
  border-bottom: 1px solid #061B28;

}

.blog article {
  clear: none;

  margin: 0 97px 20px;
  font-size: 16px;
  line-height: 150%;
}
.blog article img {
  min-width: 300px;
  max-width: 690px;
  margin-bottom: 25px;
}
.blog article time {
  margin: 0;
  font-size: 14px;
  line-height: 140%;
  color: #626F77;
}
.blog article  h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
}
.blog article p {
  margin-right: 0;
}



.contacts {
  min-height: 460px;
  padding: 0px;
  margin-left: 98px;
  margin-bottom: 125px;
  color: #061B28;
}

.contacts iframe {
  display: inline-block;
  margin-right: 70px;
  margin-bottom: 15px;
}
.contacts .cont {
  display: inline-block;
  vertical-align: top;
  transform: translateY(-10px);
  margin: 0px;
}
.contacts h2 {
  vertical-align: top;
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
}

.contacts dd {
  margin-top: 7px;
  margin-left: 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: bolder;
  font-size: 22px;
  line-height: 140%;
}
.contacts dd:last-child {
  margin-bottom: 0px;
}
address {
  font-style: normal;
}
.social-nets-list li {
  display: inline-block;
  margin-right: 30px;
  padding: 0;
}

.contacts-list {
  margin-bottom: 0px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 120px;
  background: #061B28;
  font-size: 12px;
  color: #FCFCFC;
}
footer .logo {
  vertical-align: middle;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
footer p {
  margin-left: 98px;
  display: inline-block;
}
footer .policy {
  display: inline-block;
  margin-right: 98px;
}


.feedback {
  height: 690px;
  background: #061B28 url("img/feedb.jpg") no-repeat 683px 0;
  color: #FCFCFC;
  margin-bottom: 140px;
}
.feedback h2 {
  padding-top: 70px;
  margin-left: 98px;
  margin-bottom: 30px;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
}
.feedback p {
  width: 435px;
  margin-left: 98px;
}
.feedback p:last-child {
  width: 400px;
  margin-left: 98px;
  font-size: 14px;
  line-height: 140%;
}
.feedback input {
  display: block;
  width: 525px;
  height: 40px;
  margin-top: 15px;
  margin-left: 98px;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #45545E;
  color: #7E8386;
  font-size: 16px;
  line-height: 150%;
}
.feedback button {
  width: 525px;
  height: 50px;
  margin-top: 45px;
  margin-bottom: 25px;
  margin-left: 98px;
  background: #EC5118;
  color: #FCFCFC;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  border: 0px;
}
.feedback button:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.1s linear;
}

/* -----------------------------

.prices {
  position: relative;
  margin-bottom: 140px;
  height: 757px;
  color: #FCFCFC;
  background: #E5E5E5 url("img/prices.jpg") no-repeat 0 0;
}
.prices h2 {
  padding-top: 90px;
  padding-bottom: 0;
  margin: 0 auto 20px;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
  color: #FCFCFC;
}
.prices p {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}
.prices th {
  min-width: 170px;
  padding-bottom: 10px;
  font-family: inherit;
  line-height: 140%;
  color: #A7AEB4;
  border-bottom: 1px solid #45545E;
}
.prices table {
  width: 830px;
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
}
.prices table tr td:first-child {
  padding-left: 100px;
}
.prices table tr th:first-child {
  padding-left: 100px;
}
.prices table tr td:last-child {
  padding-right: 50px;
}
.prices td {
  min-width: 170px;
  font-weight: 500;
  font-size: 22px;
  line-height: 66px;
  color: #FCFCFC;
  border-bottom: 1px solid #45545E;
}
.prices tr:hover td {
  opacity: 0.6;
}
.prices .bottom {
  top: 635px;
}

 */




 .prices {
   position: relative;
   margin-bottom: 140px;
   height: 757px;
   color: #FCFCFC;
   background: #E5E5E5 url("img/prices.jpg") no-repeat 0 0;
 }
 .prices h2 {
   padding-top: 90px;
   padding-bottom: 0;
   margin: 0 auto 20px;
   text-align: center;
   font-family: Oswald, sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 52px;
   line-height: 115%;
   color: #FCFCFC;
 }
 .prices p {
   width: 250px;
   margin: 0 auto;
   margin-bottom: 45px;
   font-family: inherit;
   font-size: 18px;
   line-height: 140%;
   text-align: center;
 }
 .prices th {
   padding-bottom: 10px;
   padding-left: 3%;
   padding-right: 3%;
   font-family: inherit;
   line-height: 140%;
   color: #A7AEB4;
   border-bottom: 1px solid #45545E;
 }
 .prices table {
   min-width: 680px;
   width: 60%;
   max-height: 350px;
   margin: 0 auto;
   padding: 0;
   text-align: left;
   border-collapse: collapse;
 }


 .prices td {
   padding-left: 3%;
   padding-right: 3%;
   font-weight: 500;
   font-size: 22px;
   line-height: 66px;
   color: #FCFCFC;
   border-bottom: 1px solid #45545E;
 }
 .prices table tr td:first-child {
  padding-left: 10%;
}
.prices table tr th:first-child {
  padding-left: 10%;
}
.prices table tr td:last-child {
 padding-right: 5%;
}
.prices table tr th:last-child {
 padding-right: 5%;
}
 .prices tr:hover td {
   opacity: 0.6;
 }
 .prices .bottom {
   top: 635px;
 }
